[access]
	inheritFrom = All-Projects
[project]
	description = this is a sample project for POC
[access "refs/*"]
	owner = group user/MNgituser (MNgituser)
[access "refs/for/refs/*"]
	read = group user/MNgituser (MNgituser)
	push = group user/MNgituser (MNgituser)
	label-Code-Review = -2..+2 group user/MNgituser (MNgituser)
	label-Verified = -1..+1 group user/MNgituser (MNgituser)
	rebase = group user/MNgituser (MNgituser)
	removeReviewer = group user/MNgituser (MNgituser)
	submit = group user/MNgituser (MNgituser)
[access "refs/heads/*"]
	read = group user/MNgituser (MNgituser)
	create = group user/MNgituser (MNgituser)
	push = +force group user/MNgituser (MNgituser)
	pushMerge = group user/MNgituser (MNgituser)
[access "refs/tags/*"]
	push = group user/MNgituser (MNgituser)
	push = +force group user/MNgituser (MNgituser)
